<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="shortcut icon" href="../images/bank.icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/manager.css">
    <title>Banco de MindHub</title>
</head>

<body id="app" v-cloak>
    <div id="wifi-loader" v-show="loader">
        <svg class="circle-outer" viewBox="0 0 86 86">
            <circle class="back" cx="43" cy="43" r="40"></circle>
            <circle class="front" cx="43" cy="43" r="40"></circle>
            <circle class="new" cx="43" cy="43" r="40"></circle>
        </svg>
        <svg class="circle-middle" viewBox="0 0 60 60">
            <circle class="back" cx="30" cy="30" r="27"></circle>
            <circle class="front" cx="30" cy="30" r="27"></circle>
        </svg>
        <svg class="circle-inner" viewBox="0 0 34 34">
            <circle class="back" cx="17" cy="17" r="14"></circle>
            <circle class="front" cx="17" cy="17" r="14"></circle>
        </svg>
        <div class="text" data-text="Loading"></div>
    </div>
    <header class="z-3">
        <img src="../images/bank.icon.png" alt="bni.icon">
        <nav class="navbar bg-transparent navbar-expand-md me-2 mt-2">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse container-navbar" id="navbarNavDropdown">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./accounts.html">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Loans</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-logout" href="#">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="d-flex flex-column align-items-center">
        <h2 class="text-center">Client Manager</h2>
        <div class="w-100 d-flex justify-content-center">
            <fieldset class="d-flex flex-column align-items-center mt-4">
                <div class="d-flex flex-column input-form">
                    <label for="username">First Name:</label>
                    <input type="text" v-model="firstName" id="username" name="firstname" />
                </div>
                <div class="d-flex flex-column input-form">
                    <label for="username-last">Last Name:</label>
                    <input type="text" v-model="lastName" id="username-last" name="lastname" />
                </div>
                <div class="d-flex flex-column input-form">
                    <label for="email">Email:</label>
                    <input type="email" v-model="email" name="user-email" id="email" />
                </div>
                <button type="submit" @click="checkInput" class="button-form">
                    <span>Add Client</span>
                </button>
            </fieldset>
        </div>
        <h2 class="text-center">Client List</h2>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <template v-if="clients.length > 0" v-for="client of clients">
                        <tr>
                            <td>{{client.firstName}}</td>
                            <td>{{client.lastName}}</td>
                            <td>{{client.email}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <pre class="json-manager">
            {{json}}
        </pre>>
    </main>
    <footer>
        <div class="investHome text-center d-flex flex-column flex-md-row justify-content-between">
            <section class="w-md-50">
                <h4 class="p-2 fw-semibold  text-light">All your bank, in your pocket</h4>
                <p class="p-2 fw-normal text-light">Download the Bank Nordic app and don't worry about physically
                    going
                    to
                    our
                    bank</p>
                <div class="button-app-container">
                    <button class="custom-btn btn-1 me-3"><i class="bi bi-google-play"></i> Google Play</button>
                    <button class="custom-btn btn-1 ms-3"><i class="bi bi-apple"></i> App Store</button>
                </div>
            </section>
            <img src="../images/tecnology.png" alt="invest-from-your-home">
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center flex-lg-row w-100">
            <section class="d-flex align-items-center">
                <i class="bi bi-bank2 me-2"></i>
                <h4 class="mt-2 me-5 fw-normal">BANK NORDIC INC</h4>
            </section>
            <div class="container-moreInfo flex-lg-row gap-3 gap-lg-5">
                <a href="#" class="moreInfo">Privacy Policy</a>
                <a href="#" class="moreInfo">ATMs for the blind</a>
                <a href="#" class="moreInfo">Security</a>
                <a href="#" class="moreInfo">Regulatory information</a>
                <h6 class="text-light fw-normal m-0">More Info:</h6>
            </div>
            <div class="container-social d-flex align-items-center justify-content-center mt-2 me-3 mb-4 m-lg-0">
                <a href="https://www.facebook.com/leomessi"><i
                        class="bi bi-facebook social d-flex align-items-center"></i></a>
                <a href="https://www.instagram.com/leomessi/"><i
                        class="bi bi-whatsapp social d-flex align-items-center"></i></a>
                <a href="https://www.instagram.com"><i class="bi bi-instagram social d-flex align-items-center"></i></a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/manager.js"></script>
</body>

</html>