:root {
    --primary-color: #086E83;
    --second-color: #EEEDE7;
}

[v-cloak] {
    display: none;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: var(--second-color);
}

main {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header {
    width: 100%;
    min-height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    position: sticky;
    top: 0px;
}

header img {
    height: 10vh;
    margin-left: 1rem;
    object-fit: cover;
    transition: 1.5s;
}

footer {
    min-height: 40vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LOADER */
#wifi-loader {
    width: 100vw;
    height: 100vh;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wifi-loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wifi-loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
}

#wifi-loader svg circle.back {
    stroke: var(--back-color);
}

#wifi-loader svg circle.front {
    stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
    height: 86px;
    width: 86px;
}

#wifi-loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
    animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
    animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
    height: 60px;
    width: 60px;
}

#wifi-loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
    animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
    animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
    height: 34px;
    width: 34px;
}

#wifi-loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
    animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
    animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
    position: absolute;
    bottom: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
    content: attr(data-text);
}

#wifi-loader .text::before {
    color: var(--text-color);
}

#wifi-loader .text::after {
    color: var(--front-color);
    animation: text-animation76 3.6s ease infinite;
    position: absolute;
    left: 0;
}

@keyframes circle-outer135 {
    0% {
        stroke-dashoffset: 25;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 301;
    }

    80% {
        stroke-dashoffset: 276;
    }

    100% {
        stroke-dashoffset: 276;
    }
}

@keyframes circle-middle6123 {
    0% {
        stroke-dashoffset: 17;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 204;
    }

    80% {
        stroke-dashoffset: 187;
    }

    100% {
        stroke-dashoffset: 187;
    }
}

@keyframes circle-inner162 {
    0% {
        stroke-dashoffset: 9;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 106;
    }

    80% {
        stroke-dashoffset: 97;
    }

    100% {
        stroke-dashoffset: 97;
    }
}

@keyframes text-animation76 {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}

/* LOADER */

.btn-logOut {
    border-radius: 10px;
    padding: 4px 12px 4px 12px;
    margin-right: 3rem;
    font-weight: bold;
}

.btn-logOut:hover {
    background-color: rgb(248, 152, 145);
}

/* SOCIAL */
.bi-bank2 {
    color: white;
    font-size: 2.5rem;
}

.social {
    color: white;
    margin-left: 1rem;
    padding: 4px;
    border-radius: 8px;

}

.container-social {
    min-width: 10vw;
}

.bi-facebook:hover {
    color: rgb(37, 37, 226);
    background-color: beige;
}

.bi-whatsapp:hover {
    color: rgb(9, 139, 9);
    background-color: beige;
}

.bi-instagram:hover {
    color: rgb(216, 22, 129);
    background-color: beige;
}

/* SOCIAL */

.table {
    width: 100%;
    margin-top: 2rem;
}

fieldset {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 5px;
}

.table-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

td,
th {
    width: 32%;
    text-align: center;
}

h1,
h2 {
    margin-top: 2rem;
}

.input-form {
    width: 70vw;
    padding: 1rem;
}

input {
    padding: 5px;
    border-radius: 8px;
}

label {
    margin-left: 1rem;
}

.button-form {
    background: #fff;
    border: none;
    padding: 8px 18px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
}

span {
    display: inline-block;
    transform: skew(21deg);
}

.button-form::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: var(--primary-color);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.button-form:hover {
    color: #fff;
}

.button-form:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

.investHome {
    width: 100vw;
    border: 2px solid #044d5a;
    margin-bottom: 2rem;
}

.investHome img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

/* BUTTON APP */

.button-app-container {
    margin-bottom: 3rem;
    width: 100%;
}

.custom-btn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 253, 253, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-1 {
    background: black;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    border: none;
}

.btn-1:before {
    height: 0%;
    width: 2px;
}

.btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* BUTTON APP */

.container-moreInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moreInfo {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}

.json-manager {
    width: 80%;
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
    .input-form {
        width: 50vw;
        padding: 1rem;
    }

    .table-container {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    header img {
        background-color: transparent;
        height: 12vh;
    }

    .input-form {
        width: 40vw;
        padding: 1rem;
    }

    .investHome img {
        width: 50%;
        height: 30vh;
    }

    .table-container {
        width: 80%;
    }
}

@media only screen and (min-width: 1024px) {
    .input-form {
        width: 30vw;
        padding: 1rem;
    }

    .investHome img {
        width: 50%;
        height: 30vh;
    }

    .table-container {
        width: 80%;
    }
}