:root {
    --primary-color: #086E83;
    --second-color: #EEEDE7;
    --background: #62abff;
    --front-color: #4f29f0;
    --back-color: #c3c8de;
    --text-color: #414856;
}

[v-cloak] {
    display: none;
}


body {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: var(--second-color);
    overflow-x: hidden;
}

main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redirect-home:hover {
    transform: translateX(10px);
    transition: 0.5s;
}

header {
    width: 100%;
    min-height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    position: sticky;
    top: 0px;
}

header img {
    height: 10vh;
    margin-left: 1rem;
    object-fit: cover;
    transition: 1.5s;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.title-main {
    color: rgb(44, 44, 44);
    font-size: 2rem;

}

/* NAVBAR */

.navbar {
    border-radius: 6px;
    background-color: transparent;
    padding: 0;
    position: relative;
}

.navbar>.container-fluid {
    justify-content: space-around;
}

.nav-item {
    text-align: center;
    color: var(--second-color);
}

.nav-link {
    display: inline-block;
    width: 70%;
    font-size: 14px;
    color: white;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}

.active {
    color: rgb(247, 216, 160) !important;
}

.nav-link:hover {
    color: wheat;
    filter: drop-shadow(10px 2px 5px black);
    transform: translateY(5px);
    transition: 0.5s;
}

.nav-link-logout:hover {
    color: rgb(224, 54, 54);
    filter: drop-shadow(10px 2px 5px black);
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.nav-link:hover::before {
    transform: translateX(0);
}

/* NAVBAR */

/* LOADER */
#wifi-loader {
    width: 100vw;
    height: 100vh;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wifi-loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wifi-loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
}

#wifi-loader svg circle.back {
    stroke: var(--back-color);
}

#wifi-loader svg circle.front {
    stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
    height: 86px;
    width: 86px;
}

#wifi-loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
    animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
    animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
    height: 60px;
    width: 60px;
}

#wifi-loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
    animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
    animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
    height: 34px;
    width: 34px;
}

#wifi-loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
    animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
    animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
    position: absolute;
    bottom: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
    content: attr(data-text);
}

#wifi-loader .text::before {
    color: var(--text-color);
}

#wifi-loader .text::after {
    color: var(--front-color);
    animation: text-animation76 3.6s ease infinite;
    position: absolute;
    left: 0;
}

@keyframes circle-outer135 {
    0% {
        stroke-dashoffset: 25;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 301;
    }

    80% {
        stroke-dashoffset: 276;
    }

    100% {
        stroke-dashoffset: 276;
    }
}

@keyframes circle-middle6123 {
    0% {
        stroke-dashoffset: 17;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 204;
    }

    80% {
        stroke-dashoffset: 187;
    }

    100% {
        stroke-dashoffset: 187;
    }
}

@keyframes circle-inner162 {
    0% {
        stroke-dashoffset: 9;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 106;
    }

    80% {
        stroke-dashoffset: 97;
    }

    100% {
        stroke-dashoffset: 97;
    }
}

@keyframes text-animation76 {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}

/* LOADER */

/* CAROUSEL */

.img-carousel {
    width: 100%;
    height: 50vh;
    margin-top: 1rem;
    border-radius: 15px;
    object-fit: cover;
    object-position: 60% 20%;
}

.img-car {
    object-position: 60% 40%;
}

#carouselExampleFade {
    width: 95%;
}

/* CAROUSEL */

/* SOCIAL */
.bi-bank2 {
    color: white;
    font-size: 2.5rem;
    margin-left: 1rem;
}

.social {
    color: white;
    margin-left: 1rem;
    padding: 4px;
    border-radius: 8px;

}

.container-social {
    min-width: 10vw;
    margin-right: 2rem;
}

.bi-facebook:hover {
    color: rgb(37, 37, 226);
    background-color: beige;
}

.bi-whatsapp:hover {
    color: rgb(9, 139, 9);
    background-color: beige;
}

.bi-instagram:hover {
    color: rgb(216, 22, 129);
    background-color: beige;
}

a {
    text-decoration: none;
}

/* SOCIAL */

/* CARDS */

.cards-container-accounts {
    margin-top: 2rem;
    margin-bottom: 7rem;
    gap: 6rem;
    min-height: 50vh;
    background-color: rgb(155, 152, 152);
    border-radius: 14px;
    padding: 2rem;
    width: 95%;
}

.card {
    width: 60vw;
    height: 100%;
    position: relative;
    padding: 9px;
    background-color: var(--text-color);
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 10px 20px 10px 5px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-overlay {
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(var(--back-color) 0.0000001%, var(--text-color) 0.000104%) 60% 60%/600% 600%;
    filter: opacity(10%) contrast(105%);
}

.card-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 30px;
    font-size: 20px;
    font-weight: 900;
    color: white;
    text-align: center;
    font-family: monospace;
}

.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-top: 1rem;
}

.learn-more {
    width: 12rem;
    height: auto;
}

.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 14px;
}

.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.learn-more:hover .circle {
    width: 100%;
}

.learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.learn-more:hover .button-text {
    color: #fff;
}

/* CARDS */

/* container-button-create */
.container-create {
    min-height: 30vh;
}

.image-create {
    width: 95%;
    border-radius: 15px;
    height: 35vh;
    margin-bottom: 2rem;
}

.container-create-text {
    min-height: 20vh;
    width: 70%;
}

.btn-create-acc {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 14px;
    line-height: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #01070fec, 0 2px 4px -1px #00000017;
    transition: all .6s ease;
}

.btn-create-acc:hover {
    box-shadow: 0 10px 15px -3px #0107114f, 0 4px 6px -2px #01060e17;
    transform: translateY(-5px);
}

.btn-create-acc:focus,
.btn-create-acc:active {
    opacity: .85;
    box-shadow: none;
}

.btn-create-acc svg {
    width: 1.25rem;
    height: 1.25rem;
}

/* container-button-create */

/* LOANS */
.container-loans {
    min-height: 50vh;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 10rem;
    justify-content: space-around;
    background-image: url("../images/stacked-peaks-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* LOANS */

/* FOOTER */

footer {
    min-height: 10vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.investHome {
    width: 100vw;
    border: 2px solid #044d5a;
    margin-bottom: 2rem;
}

.investHome img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

/* BUTTON APP */

.button-app-container {
    margin-bottom: 3rem;
    width: 100%;
}

.custom-btn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 253, 253, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-1 {
    background: black;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    border: none;
}

.btn-1:before {
    height: 0%;
    width: 2px;
}

.btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* BUTTON APP */

.container-moreInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moreInfo {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}

/* FOOTER */

/* TABLE */
.table-container {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--background);
}

.table-details {
    width: 100%;
}

td,
th {
    width: 33.3%;
    text-align: center;
    font-size: 1.2rem;
    color: black;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}

/* TABLE */

/* CONTAINER PHONE */
.container-accounts-phone {
    width: 90%;
    min-height: 50vh;
    margin-bottom: 6rem;
}

.phone-img {
    border-radius: 15px;
    width: 95%;
    height: 35vh;
    margin-bottom: 2rem;
}

.text-rgb {
    background: linear-gradient(rgb(39, 212, 255), rgb(13, 68, 218));
    -webkit-background-clip: text;
    color: transparent;
}

.container-accounts-text {
    width: 90%;
}

.container-accounts-text p {
    font-size: 20px;
    text-align: center;
}

.no-transaction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.svg-account {
    width: 60vw;
    margin-top: 1rem;

}

/* CONTAINER PHONE */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    header img {
        background-color: transparent;
        height: 12vh;
    }

    .navbar {
        width: 80%;
        background-color: transparent;
        display: flex;
        align-items: center;
    }

    .container-navbar ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .container-navbar a {
        width: 14vw;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }

    .container-navbar button {
        padding: 8px;
        margin-left: 1rem;
    }

    .investHome img {
        width: 50%;
        height: 30vh;
    }

    .table-container {
        width: 70%;
    }

    .card {
        width: 50vw;
        height: 40vh;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar {
        width: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
    }

    .container-navbar ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .container-navbar a {
        width: 13vw;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .container-navbar button {
        padding: 8px;
        margin-left: 1rem;
    }

    .table-container {
        width: 70%;
    }

    .investHome img {
        width: 50%;
        height: 30vh;
    }

    .phone-img {
        width: 45vw;
        height: 50vh;
    }

    .container-accounts-phone {
        align-items: start;
    }

    .container-accounts-text {
        height: 55vh;
    }

    .card {
        width: 30vw;
        height: 40vh;
    }

    .container-create {
        width: 100%;
    }

    .image-create {
        width: 35vw;
        height: fit-content;
    }
}