:root {
    --primary-color: #086E83;
    --second-color: #EEEDE7;
    --background: #62abff;
    --front-color: #4f29f0;
    --back-color: #c3c8de;
    --text-color: #414856;
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

[v-cloak] {
    display: none;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

.body-transfer {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.body-create-loan {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

main {
    width: 100%;
    min-height: 80vh;
}

.redirect-home:hover {
    transform: translateX(10px);
    transition: 0.5s;
}

header {
    width: 100%;
    min-height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    position: sticky;
    top: 0px;
}

header img {
    height: 10vh;
    margin-left: 1rem;
    object-fit: cover;
    transition: 1.5s;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.title-main {
    color: black;
    font-size: 2rem;

}

/* NAVBAR */

.navbar {
    border-radius: 6px;
    background-color: transparent;
    padding: 0;
    position: relative;
}

.navbar>.container-fluid {
    justify-content: space-around;
}

.nav-item {
    text-align: center;
    color: var(--second-color);
}

.nav-link {
    display: inline-block;
    width: 70%;
    font-size: 14px;
    color: white;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}

.active {
    color: rgb(247, 216, 160) !important;
}

.nav-link:hover {
    color: wheat;
    filter: drop-shadow(10px 2px 5px black);
    transform: translateY(5px);
    transition: 0.5s;
}

.nav-link-logout:hover {
    color: rgb(224, 54, 54);
    filter: drop-shadow(10px 2px 5px black);
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.nav-link:hover::before {
    transform: translateX(0);
}

/* NAVBAR */

/* LOADER */
#wifi-loader {
    width: 100vw;
    height: 100vh;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wifi-loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wifi-loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
}

#wifi-loader svg circle.back {
    stroke: var(--back-color);
}

#wifi-loader svg circle.front {
    stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
    height: 86px;
    width: 86px;
}

#wifi-loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
    animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
    animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
    height: 60px;
    width: 60px;
}

#wifi-loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
    animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
    animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
    height: 34px;
    width: 34px;
}

#wifi-loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
    animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
    animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
    position: absolute;
    bottom: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
    content: attr(data-text);
}

#wifi-loader .text::before {
    color: var(--text-color);
}

#wifi-loader .text::after {
    color: var(--front-color);
    animation: text-animation76 3.6s ease infinite;
    position: absolute;
    left: 0;
}

@keyframes circle-outer135 {
    0% {
        stroke-dashoffset: 25;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 301;
    }

    80% {
        stroke-dashoffset: 276;
    }

    100% {
        stroke-dashoffset: 276;
    }
}

@keyframes circle-middle6123 {
    0% {
        stroke-dashoffset: 17;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 204;
    }

    80% {
        stroke-dashoffset: 187;
    }

    100% {
        stroke-dashoffset: 187;
    }
}

@keyframes circle-inner162 {
    0% {
        stroke-dashoffset: 9;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 106;
    }

    80% {
        stroke-dashoffset: 97;
    }

    100% {
        stroke-dashoffset: 97;
    }
}

@keyframes text-animation76 {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}

/* LOADER */

/* BANNER CARDS */

.banner-cards {
    width: 100%;
    min-height: 30vh;
}

.img-banner {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

/* BANNER CARDS */

/* CARD */
.container-sections-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.no-cards-debit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-cards {
    background-color: #dbdbdb;
}

.no-cards-debit p {
    font-size: 1.6rem;
}

.svg-card {
    width: 50vw;
}

.container-card {
    width: 20rem;
    min-height: 35vh;
    border-radius: 12px;
}

.card {
    width: 100%;
    height: 100%;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
    border: none;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front,
.back {
    width: 100%;
    min-height: 35vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
    box-shadow: 14px 18px 15px 2px var(--text-color);

}

.frontGold,
.backGold {
    background-color: #d4b503;
    color: black;
    filter: brightness(1.1);
    font-family: var(--font-family);
    background-image: url(../images/buho-removebg-preview.png);

}

.frontSilver,
.backSilver {
    background-color: rgb(158, 157, 157);
    filter: brightness(1.1);
    font-family: var(--font-family);
    color: black;
}

.frontTitanium,
.backTitanium {
    background-color: rgb(39, 38, 38);
    font-family: var(--font-family);
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;
}

.card-no {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
}

.card-holder {
    font-size: 12px;
}

.name {
    font-size: 15px;
}

.card-cvv {
    margin-top: 20px;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 1px;
    top: 1rem;
}

.card-cvv div {
    flex: 1;
}

.line-black {
    width: 100%;
    height: 2.7rem;
    opacity: 1;
}

.card-cvv p {
    width: 80%;
    background: #fff;
    color: #000;
    font-size: 17px;
    padding: 5px 10px;
}

.signature {
    margin-top: 8rem;
}

.back {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(-180deg);
}

/* CARD */

/* SOCIAL */
.bi-bank2 {
    color: white;
    font-size: 2.5rem;
    margin-left: 1rem;
}

.social {
    color: white;
    margin-left: 1rem;
    padding: 4px;
    border-radius: 8px;

}

.container-social {
    min-width: 10vw;
    margin-right: 2rem;
}

.bi-facebook:hover {
    color: rgb(37, 37, 226);
    background-color: beige;
}

.bi-whatsapp:hover {
    color: rgb(9, 139, 9);
    background-color: beige;
}

.bi-instagram:hover {
    color: rgb(216, 22, 129);
    background-color: beige;
}

a {
    text-decoration: none;
}

/* SOCIAL */


/* FOOTER */

footer {
    min-height: 15vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-moreInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moreInfo {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}

/* FOOTER */

/* CREATE CARDS */

.container-create {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-crete-cards {
    width: 70%;
    min-height: 80vh;
}

.container-type-color {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
    background-color: var(--back-color);
    border-radius: 10px;
    color: white;
}

.container-type {
    width: 12rem;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 14px;
    gap: 8px;
    background-color: var(--primary-color);
    box-shadow: 14px 18px 15px 2px var(--text-color);
}

.container-color {
    width: 12rem;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 14px;
    gap: 8px;
    background-color: var(--primary-color);
    box-shadow: 14px 18px 15px 2px var(--text-color);

}

.form-check-label {
    font-weight: 400;
    cursor: pointer;
}

.form-check-input {
    border: 1px solid black;
}

.form-check-input:hover {
    border: 1px solid var(--background);
    background-color: rgb(17, 157, 212);
}

.form-control,
.form-check-input {
    cursor: pointer;
}


/* CREATE CARDS */

/* container-button-create */

.btn-create-acc {
    margin-top: 2rem;
    margin-bottom: 4rem;
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: black;
    font-size: 14px;
    line-height: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #01070fec, 0 2px 4px -1px #00000017;
    transition: all .6s ease;
}

.btn-create-acc:hover {
    box-shadow: 0 10px 15px -3px #0107114f, 0 4px 6px -2px #1d202417;
    transform: translateY(-5px);
}

.btn-create-acc:focus,
.btn-create-acc:active {
    opacity: .85;
    box-shadow: none;
}

.btn-create-acc svg {
    width: 1.25rem;
    height: 1.25rem;
}

.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.learn-more {
    width: 12rem;
    height: auto;
}

.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 14px;
}

.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.learn-more:hover .circle {
    width: 100%;
}

.learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.learn-more:hover .button-text {
    color: #fff;
}

.container-btn-transfer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

/* container-button-create */

/* TRANSFER */

.container-transfer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form-transfer {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    gap: 2rem;
    border-radius: 15px;
}

.container-radio-transfer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-control {
    border-radius: 8px !important;
}

h2>i {
    font-size: 23px;
}

.container-img-transfer {
    width: 80%;
    display: flex;
    align-items: center;
}

.container-img-transfer img {
    width: 100%;
    border-radius: 10px;
}

.label-transfer {
    font-size: 1.5rem;
}


.option-transfer {
    width: 1rem;
}

/* TRANSFER */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    header img {
        background-color: transparent;
        height: 12vh;
    }

    .navbar {
        width: 80%;
        background-color: transparent;
        display: flex;
        align-items: center;
    }

    .container-navbar ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .container-navbar a {
        width: 14vw;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }

    .container-navbar button {
        padding: 8px;
        margin-left: 1rem;
    }

    .container-radio-transfer {
        display: flex;
        flex-direction: row;
    }

    .container-crete-cards {
        min-height: 70vh;
    }

    .container-type-color {
        flex-direction: row;
    }

    .container-form-transfer {
        width: 60%;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar {
        width: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
    }

    .container-navbar ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .container-navbar a {
        width: 13vw;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .container-navbar button {
        padding: 8px;
        margin-left: 1rem;
    }

    .container-radio-transfer {
        display: flex;
        flex-direction: row;
    }

    .container-transfer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .container-form-transfer {
        width: 40%;
        height: 34rem;
    }

    .container-img-transfer {
        width: 40%;
    }

    .container-img-transfer img {
        height: 34rem;
    }

    .container-crete-cards {
        min-height: 70vh;
    }

    .container-type-color {
        flex-direction: row;
        justify-content: space-around;
    }

    .container-sections-cards {
        flex-direction: row;
    }
}