:root {
    --primary-color: #086E83;
    --second-color: #EEEDE7;
    --background: #62abff;
    --front-color: #4f29f0;
    --back-color: #c3c8de;
    --text-color: #414856;
}

[v-cloak] {
    display: none;
}


body {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: var(--second-color);
}

main {
    width: 100%;
    min-height: 90vh;
}

header {
    width: 100%;
    min-height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    position: sticky;
    top: 0px;
}

header img {
    height: 10vh;
    margin-left: 1rem;
    object-fit: cover;
    transition: 1.5s;
}

.title-main {
    color: black;
    font-size: 2rem;

}

/* FORM */
.img-bank {
    width: 100%;
    object-fit: cover;
}

.container-landing-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-form {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container-landing-page>img {
    width: 100%;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 23rem;
    max-height: 30rem;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 7px 7px 10px 3px #24004628;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
    display: none;
}

/*Login*/
.login {
    position: relative;
    width: 100%;
    height: 100%;
}

.login label {
    margin: 25% 0 5%;
}

label {
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.input {
    width: 100%;
    height: 40px;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
}

/*Register*/
.register {
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(5%);
    transition: .8s ease-in-out;
}

.register label {
    color: var(--background);
    transform: scale(.6);
}

#chk:checked~.register {
    transform: translateY(-60%);
}

#chk:checked~.register label {
    transform: scale(1);
    margin: 10% 0 5%;
}

#chk:checked~.login label {
    transform: scale(.6);
    margin: 5% 0 5%;
}

/*Button*/
.form button {
    width: 85%;
    height: 40px;
    margin: 12px auto 10%;
    color: #fff;
    background: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
}

.form button:hover {
    background-color: var(--background);
}

/* FORM */
/* LOADER */
#wifi-loader {
    width: 100vw;
    height: 100vh;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wifi-loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wifi-loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
}

#wifi-loader svg circle.back {
    stroke: var(--back-color);
}

#wifi-loader svg circle.front {
    stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
    height: 86px;
    width: 86px;
}

#wifi-loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
    animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
    animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
    height: 60px;
    width: 60px;
}

#wifi-loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
    animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
    animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
    height: 34px;
    width: 34px;
}

#wifi-loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
    animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
    animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
    position: absolute;
    bottom: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
    content: attr(data-text);
}

#wifi-loader .text::before {
    color: var(--text-color);
}

#wifi-loader .text::after {
    color: var(--front-color);
    animation: text-animation76 3.6s ease infinite;
    position: absolute;
    left: 0;
}

@keyframes circle-outer135 {
    0% {
        stroke-dashoffset: 25;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 301;
    }

    80% {
        stroke-dashoffset: 276;
    }

    100% {
        stroke-dashoffset: 276;
    }
}

@keyframes circle-middle6123 {
    0% {
        stroke-dashoffset: 17;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 204;
    }

    80% {
        stroke-dashoffset: 187;
    }

    100% {
        stroke-dashoffset: 187;
    }
}

@keyframes circle-inner162 {
    0% {
        stroke-dashoffset: 9;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 106;
    }

    80% {
        stroke-dashoffset: 97;
    }

    100% {
        stroke-dashoffset: 97;
    }
}

@keyframes text-animation76 {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}

/* LOADER */
/* FOOTER */

/* SOCIAL */
.bi-bank2 {
    color: white;
    font-size: 2.5rem;
    margin-left: 1rem;
}

.social {
    color: white;
    margin-left: 1rem;
    padding: 4px;
    border-radius: 8px;

}

.container-social {
    min-width: 10vw;
    margin-right: 2rem;
}

.bi-facebook:hover {
    color: rgb(37, 37, 226);
    background-color: beige;
}

.bi-whatsapp:hover {
    color: rgb(9, 139, 9);
    background-color: beige;
}

.bi-instagram:hover {
    color: rgb(216, 22, 129);
    background-color: beige;
}

a {
    text-decoration: none;
}

/* SOCIAL */

footer {
    min-height: 10vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-moreInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moreInfo {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}

/* FOOTER */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    header img {
        background-color: transparent;
        height: 12vh;
    }

    .container-landing-page>img {
        width: 80%;
    }
}

@media only screen and (min-width: 1024px) {
    .container-form {
        width: 50%;
    }

    .container-landing-page>img {
        width: 50%;
    }
}